{% extends 'base.html' %}

{% block content %} 

    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Change Password</h3>
        <ul>
            <li>
                <a href="{% url 'accounts:dashboard' %}">Home</a>
            </li>
            <li>Password Change Form</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Admit Form Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Change Password</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="new-added-form" method="post">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-12 form-group">
                        <label>Old Password *</label>
                        {{form.old_password}}
                    </div>
                    <div class="col-xl-12 col-lg-12 col-12 form-group">
                        <label>New Password *</label>
                        {{form.new_password1}}
                    </div>
                    <div class="col-xl-12 col-lg-12 col-12 form-group">
                        <label>Confirm Password *</label>
                        {{form.new_password2}}
                    </div>
                </div>
                
                <div class="row">
                    {% csrf_token %}
                    <div class="col-12 form-group mg-t-8">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    </div>
                    

                </div>
            </form>
        </div>
    </div>
    
{% endblock %} 